body {
	font-family: Helvetica, Arial, sans-serif;
	color: #585858;
	margin: 0;
}

a {
	text-decoration: none;
}

button, input[type=submit], a.button {
	color: #FFF;
	background: #585858;
	border-radius: 0.3em;
	padding: 0.3em 1.5em;
	border: none;
	cursor: pointer;
	font-size: 100%;
}

.login {
	margin-top: 6em;
	text-align: center;
}

.login img {
	display: block;
	margin: 3em auto;
	background: #78C2DD;
	padding: 1em 2em;
	border-radius: 0.5em;
}

.login .login-hint {
	margin-top: 5em;
}

.login .login-hint strong {
	color: #78C2DD;
}

.error-message {
	margin-top: 2em;
	color: #ff2b22;
}

header {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 64px;
	background-color: #78C2DD;
}

header .logout {
	position: absolute;
	right: 2em;
	bottom: 1.1em;
}

header img {
	display: block;
	position: absolute;
	top: 6px;
	left: 2em;
}

section {
	margin-top: 80px;
	padding: 0 2em;
}

.wrapper {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #EBEBEB;
	border-radius: 0.5em;
	text-align: center;
	min-width: 240px;
	min-height: 240px;
	margin: 1em 2em 1em 0;
}

.wrapper.report {
	min-width: 300px;
	min-height: 300px;
}
.wrapper.report img {
	margin-top: 30px;
}

.wrapper.dashboard {
	min-width: 300px;
	min-height: 360px;
}

.title {
	display: block;
	color: #FFFFFF;
	background-color: #78C2DD;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	padding: 0.5em 1em;
}

.content {
	height: 400px;
	width: 500px;
	margin: 0.5em 1em;
	border: none;
}
.date-select > * {
	display: inline-block;
}
.date-select > div > span {
	margin: 0 0.5em;
}
.date-select > div:first-child > span {
	margin-left: 0;
}
.date-update {
	margin-left: 2em;
}
.date-reset {
	margin-left: 1em;
}